{% extends '@Contao/block_searchable.html5' %}

{% block content %}
    <div class="mt-4">

        {{ form(flare.filter_form) }}

        <hr>

        {% for entry in flare.entries %}
            <div class="row">
                <div class="col-12">
                    <details>
                        {# (entry.headline is defined) ? (entry.headline|fmt_headline_value|default('<' ~ loop.index ~ '>')) : #}
                        <summary>#{{ entry.id }} {{ entry.title ?? (entry.email ?? entry.alias ?? ('<' ~ loop.index ~ '>')) }}</summary>
                        {{ dump(entry) }}
                    </details>
                </div>
            </div>
        {% endfor %}

    </div>
{% endblock %}
