{# @var \Contao\Model model #}
{% extends '@Contao/block_searchable.html5' %}

{% block content %}

    <div style="color: #800; background: #fdd; padding: 1rem;">
        <strong>{{ 'reader.default_template.warning'|trans([], 'flare') }}</strong>
        <br><small>{{ 'reader.default_template.description'|trans([], 'flare') }}</small>
    </div>

    <div style="display: grid; grid-template-columns: max-content auto max-content auto; gap: .125rem 1rem; font-family: monospace; padding: 1rem; background: #def; font-size: .9em;">
        {% for key, field in model.row %}
            {% if key not in ['password'] %}
                <div>{{ key }}</div>
                <div>{{ field|default('-') }}</div>
            {% endif %}
        {% endfor %}
    </div>

{% endblock %}
