includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-symfony/rules.neon

parameters:
    phpVersion: 80200
    level: 5
    paths:
        - src/
    excludePaths:
        - src/Model/
    treatPhpDocTypesAsCertain: false
