{# @var \HeimrichHannot\FlareBundle\Paginator\Paginator paginator #}
<nav>
    <ul class="pagination">
        <li class="page-item {% if not paginator.previousPage %}disabled{% endif %}">
            <a href="{{ paginator.previous.url|default('#') }}" class="page-link">&#12296;</a>
        </li>
        {% for page in paginator.navigation %}
            {# @var \HeimrichHannot\FlareBundle\Paginator\PageItem page #}
            <li class="page-item {% if page.current %}active{% endif %} {% if page.ellipsis %}disabled{% endif %}">
                {% if page.ellipsis %}
                    <span class="page-link">&hellip;</span>
                {% else %}
                    <a href="{{ page.url }}" class="page-link">{{ page.number }}</a>
                {% endif %}
            </li>
        {% endfor %}
        <li class="page-item {% if not paginator.nextPage %}disabled{% endif %}">
            <a href="{{ paginator.next.url|default('#') }}" class="page-link">&#12297;</a>
        </li>
    </ul>
</nav>