[data-flare-suffix]::after {
    display: inline-block;
    content: attr(data-flare-suffix);
    margin-inline-start: 1ch;
    opacity: .5;
}

.tl_formbody_edit #sub_formatEmptyOption,
.tl_formbody_edit #sub_formatLabel {
    display: inline;
}
