{% extends '@Contao/block_unsearchable.html5' %}

{% set flare_list = flare.createView %}

{% block content %}
    {% block filter %}

        {% set form = flare_list.form.createView %}

        {{ form_start(form) }}
        {{ form_widget(form) }}

        {% block submit %}
            <button type="submit" class="btn btn-primary">{{ 'submit'|trans({}, 'flare_form') }}</button>
        {% endblock %}

        {{ form_end(form) }}

    {% endblock %}
{% endblock %}
