services:
    _defaults:
        autowire:      true
        autoconfigure: true

    Psr\Log\LoggerInterface:
        alias: monolog.logger.contao

    HeimrichHannot\FlareBundle\:
        resource: ../src
        exclude:
            - ../src/{Collection,Contao,ContaoManager,Contract,DependencyInjection,Dto,Event,Model,Query,SortDescriptor,Trait}
            - ../src/**/*{Builder,Collection}.php
            - ../src/Engine/Context/*.php
            - ../src/Engine/View
            - ../src/EventListener/Integration
            - ../src/Filter/*.php
            - ../src/ListView/*.php
            - ../src/Paginator/*.php
            - ../src/Registry/Descriptor
            - ../src/Specification/*.php

    HeimrichHannot\FlareBundle\ListItemProvider\ListItemProvider: ~
    HeimrichHannot\FlareBundle\ListItemProvider\ListItemProviderInterface: '@HeimrichHannot\FlareBundle\ListItemProvider\ListItemProvider'

    HeimrichHannot\FlareBundle\Manager\TemplateManager:
        bind:
            $finderFactory: '@contao.twig.finder_factory'

    HeimrichHannot\FlareBundle\Filter\Invoker\FilterInvoker:
        arguments:
            $invokerLocator: null # will be replaced by the compiler pass

#    bind:
#      $projectDir: '%kernel.project_dir%'
#      $csrfTokenName: '%contao.csrf_token_name%'
#      $kernelBundles: '%kernel.bundles%'
