services:
    _defaults:
        autowire:      true
        autoconfigure: true

    Psr\Log\LoggerInterface:
        alias: monolog.logger.contao

    HeimrichHannot\FlareBundle\:
        resource: ../src
        exclude:
            - ../src/{Collection,Contao,ContaoManager,Contract,DependencyInjection,Dto,Event,Model,Trait}
            - ../src/{Filter,ListView,Paginator,SortDescriptor,Specification}/*.php
            - ../src/**/*{Builder}.php
            - ../src/Engine/Context/*.php
            - ../src/Engine/View
            - ../src/EventListener/Integration
            - ../src/Registry/Descriptor

    HeimrichHannot\FlareBundle\FilterInvoker\FilterInvokerResolver:
        arguments:
            $invokerLocator: null # populated by compiler pass

    HeimrichHannot\FlareBundle\ListItemProvider\ListItemProvider: ~
    HeimrichHannot\FlareBundle\ListItemProvider\ListItemProviderInterface: '@HeimrichHannot\FlareBundle\ListItemProvider\ListItemProvider'

    HeimrichHannot\FlareBundle\Manager\TemplateManager:
        bind:
            $finderFactory: '@contao.twig.finder_factory'

#    bind:
#      $projectDir: '%kernel.project_dir%'
#      $csrfTokenName: '%contao.csrf_token_name%'
#      $kernelBundles: '%kernel.bundles%'
