{% set html_class = ('flare-listview content-flare-listview block ' ~ element_css_classes|default(class|default('')) ~ ' ' ~ flare_css_classes|default('')) %}
{% set html_id = element_html_id|default(null) %}
<div class="{{ html_class|trim }}"{% if html_id is not null %} id="{{ html_id }}"{% elseif cssID|default %}{{ cssID|raw }}{% endif %}>
    {% block wrapper %}
        {% block headline %}
            {% if headline and flare_str.formatHeadline(headline, false) %}
                {{ flare_str.formatHeadline(headline, true)|raw }}
            {% endif %}
        {% endblock %}
        {% block content %}
            {# === empty _flare_base content === #}
        {% endblock %}
        {% block footer %}
            {# === empty _flare_base footer === #}
        {% endblock %}
    {% endblock %}
</div>